<footer class="page-footer grey darken-4 accent-2">
    <div class="container">
      <div class="row">
        <div class="col l4 s12" style="padding-right:20px ;">
          <h5 class="white-text center">About</h5>
          <p class="grey-text text-lighten-4 center">
            This project is part of qwikpik internship assignment.
            <br/>
            It was written by <a href="https://www.github.com/parekhakhil/" title="Akhil Parekh" class="white-text">Akhil</p>
        </div>
        <div class="col l4 s12">
          <div class="row">
            <div class="col l6 s12">
              <div class="container center" style="margin-top: 30%;">
                <a href="#" style="color: azure;"><span class="material-icons" style="font-size:48px;">
                  free_breakfast
                  </span></a>
              </div>
            </div>
            <div class="col l6 s12" style="padding-left: 40px;">
              <div class="container center" style="margin-top: 35%;">
                <a href="#" style="color: azure;"><span class="material-icons" style="font-size:48px;">
                  code
                  </span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 s12" style="padding-left: 0px;">
          <h5 class="white-text center"><a href="/" style="color: azure;">blogghar</a></h5>
          <ul class="center">
            <li><a href="#" style="color: azure;">Home</a></li>
            <li><a href="#" style="color: azure;">Blog</a></li>
            <li><a href="#" style="color: azure;">Review</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-3">
      <div class="container center">
      Made with &lt;3 using <a class="white-text" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
